.btn {
  display: inline-block;
  padding: theme('spacing.1') theme('spacing.3');
  font-size: theme('fontSize.sm');
  font-weight: theme('fontWeight.medium');
  border: 1px solid transparent;
  border-radius: theme('borderRadius.md');

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: default;
    opacity: .5;
  }
}


/* Buttons variants */

.btn-default {
  color: theme('colors.gray.900');
  background-color: theme('colors.gray.50');
  border-color: theme('colors.gray.200');
  box-shadow: theme('boxShadow.sm');

  &:not(:disabled):hover {
    background-color: theme('colors.gray.100');
  }
}

.btn-success {
  color: theme('colors.white');
  background-color: theme('colors.green.600');
  border-color: theme('colors.green.700');
  box-shadow: theme('boxShadow.sm');

  &:not(:disabled):hover {
    background-color: theme('colors.green.700');
  }
}

.btn-danger {
  color: theme('colors.white');
  background-color: theme('colors.red.500');
  border-color: theme('colors.red.600');
  box-shadow: theme('boxShadow.sm');

  &:not(:disabled):hover {
    background-color: theme('colors.red.600');
  }
}

.btn-text {
  color: theme('colors.gray.900');

  &.active {
    background-color: theme('colors.gray.200');
  }

  &:not(:disabled):hover {
    background-color: theme('colors.gray.100');
  }

  &:not(:disabled):active {
    background-color: theme('colors.gray.300');
  }
}
