.btn {
  display: inline-block;
  padding: theme('spacing.1') theme('spacing.3');
  font-size: theme('fontSize.xs');
  font-weight: theme('fontWeight.medium');
  border: 1px solid transparent;
  border-radius: theme('borderRadius.md');

  &:focus {
    outline: none;
  }
}


/* Buttons variants */

.btn-default {
  color: theme('colors.gray.900');
  background-color: theme('colors.gray.50');
  border-color: theme('colors.gray.200');
  box-shadow: theme('boxShadow.sm');

  &:hover {
    background-color: theme('colors.gray.100');
  }
}

.btn-primary {
  color: theme('colors.gray.900');
  background-color: theme('colors.gray.100');

  &:hover {
    background-color: theme('colors.gray.200');
  }

  &:active {
    background-color: theme('colors.gray.300');
  }
}

.btn-success {
  color: theme('colors.green.900');
  background-color: theme('colors.green.100');

  &:hover {
    background-color: theme('colors.green.200');
  }

  &:active {
    background-color: theme('colors.green.300');
  }
}

.btn-danger {
  color: theme('colors.red.900');
  background-color: theme('colors.red.100');

  &:hover {
    background-color: theme('colors.red.200');
  }

  &:active {
    background-color: theme('colors.red.300');
  }
}

.btn-text {
  color: theme('colors.gray.900');

  &.active {
    background-color: theme('colors.gray.200');
  }

  &:hover {
    background-color: theme('colors.gray.100');
  }

  &:active {
    background-color: theme('colors.gray.300');
  }
}
