.dropdown {
  width: theme('spacing.56');
  padding: theme('spacing.1');
  background-color: theme('colors.white');
  border: 1px solid theme('colors.gray.200');
  border-radius: theme('borderRadius.md');
  box-shadow: theme('boxShadow.lg');
  z-index: theme('zIndex.dropdown');
}

.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: theme('spacing.1') theme('spacing.3');
  font-size: 13px;
  text-align: left;
  border-radius: theme('borderRadius.DEFAULT');

  &:hover,
  &:focus {
    background-color: theme('colors.gray.100');
  }

  &:focus {
    outline: none;
  }
}
