.input {
  display: block;
  width: 100%;
  appearance: none;
  padding: theme('spacing.2') theme('spacing.3');
  color: theme('colors.gray.900');
  background-color: theme('colors.white');
  border: 1px solid theme('colors.gray.200');
  border-radius: theme('borderRadius.md');
  box-shadow: theme('boxShadow.sm');

  &::placeholder {
    color: theme('colors.gray.400');
  }

  &:focus {
    border-color: theme('colors.gray.500');
    outline: none;
  }

  @screen sm {
    font-size: theme('fontSize.sm')
  }
}
